<ion-header>
</ion-header>

<!-- scrollY="false" to stop scrolling -->
<ion-content>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3">
        <div class="login-form">
          <div class="logo-container">
            <img src="assets/images/Blank_Square.svg" class="logo-image">
          </div>

          <h2><ion-icon name="person-outline"></ion-icon>Your name</h2>
          <form [formGroup]="form" (ngSubmit)="submit()">
            <ion-item lines="none">
              <!-- <ion-label position="floating"></ion-label> -->
              <ion-input formControlName="firstName" type="text" style="color: black; text-align: center;"></ion-input>
            </ion-item>
            <h2><ion-icon name="mail-outline"></ion-icon> Email</h2>
            <ion-item lines="none">
              <!-- <ion-label position="floating"></ion-label> -->
              <ion-input formControlName="email" type="text" style="color: black; text-align: center;"></ion-input>
            </ion-item>
            <h2><ion-icon name="lock-closed-outline"></ion-icon> Password</h2>
            <ion-item lines="none">
              <!-- <ion-label position="floating"></ion-label> -->
              <ion-input formControlName="password" type="password" style="color: black; text-align: center;"></ion-input>
            </ion-item>
            <h2><ion-icon name="lock-closed-outline"></ion-icon> Confirm Password</h2>
            <ion-item lines="none">
              <!-- <ion-label position="floating"></ion-label> -->
              <ion-input formControlName="confirmPassword" type="password" style="color: black; text-align: center;"></ion-input>
            </ion-item>
            <ion-button class="gbutton" type="submit">CREATE ACCOUNT</ion-button>
            <div class="signup-link">
              <p>Already have an account? <br> Log in <ion-button class="clearButton" fill="clear" routerLink="/login"> here</ion-button></p>
            </div>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
